<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Good Shepherd Christian Church</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
            <h1>Thank you!</h1>
            <br>
            <h2>You have successfully signed in.</h2>
            <a href="/attendance" class="btn btn-info my-3" role="button">Return to Sign-In</a>

        </div>


        <div class="container-fluid pt-3 pb-3 my-3">
        <!-- <button data-toggle="collapse" data-target="#demotable">Show/Hide</button> -->

        <!-- <img src="images/gscross.jpg" class="mx-auto d-block img-fluid" alt="cross"> -->
        <div id="demotable" class="table-responsive collapse show">
        <h2>Members Attending This Week</h2>
        <p>This shows the members who have signed-in to attend Sunday service this week.</p>
          <table class="table table-dark table-hover table-borderless text-nowrap">
            <thead class="thead-light">
                <tr>
                    <th></th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email Address</th>
                    <th>Date</th>
                </tr>
            </thead>
            </tbody>
                <%
                if(userData.length!=0 ){
                var i=1;
                userData.forEach(function(data){
                    var d = new Date(data.Date);
                    var a = new Date(); var b = new Date();
                    //console.log("d=" + d);
                    // get the upcoming sunday. 604800000 ms per week
                    a.setDate(a.getDate() - a.getDay());
                    a.setTime(a.getTime() + 604800000);a.setHours(23);a.setMinutes(59);
                    //console.log("a=" + a);
                    b.setTime(a.getTime() - 604800000); // - milliseconds in a week
                    //console.log("b=" + b);
                    if(d.getTime() <= a.getTime() && d.getTime() >= b.getTime()){
                %>
                <tr>
                    <td><%=i; %></td>
                    <td><%=data.firstname %></td>
                    <td><%=data.lastname %></td>
                    <td><%=data.email %></td>
                    <td><%=data.Date %></td>
                </tr>
                <%  i++; }}) %>
                <% } else{ %>
                    <tr>
                        <td colspan="7">No Data Found</td>
                    </tr>
                <% } %>
        </tbody>
        </table>
        </div>

        </div>
    </body>
</html>
